blinker
cachelib
certifi
charset-normalizer
click
elastic-transport==8.10.0
elasticsearch==8.10.1
Flask
Flask-Caching
grpcio==1.59.0
grpcio-tools==1.41.0
kibana-api==0.0.4
protobuf==3.20.0
python-logstash==0.4.8
redis
requests
uhashring